<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIA_Presupuesto.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  
  <connectionStrings>
	  <!--SIACORAHEntities Produccion-->
	  <add name="SIACORAHEntities" connectionString="QSO9lM9GV+4pqrEWxII+4l6AKL09lii8r+Msgct3x/u/YWnHsr0Up8SiOo9I43fIs0jlxS+Q/mbNNvSUQBSLsiXiJKeAg3sguRCSyJhEtXHISmc9Xj+m716AKL09lii8r+Msgct3x/u/YWnHsr0UpzpMLRZKJZeHPx8uv5ca6nG+C443czL4HMg1zd4imecRj/3sNlhOSUU7Fx5ezDbF7Bs1kYI+zvyWPzAChvspjMvgIpuUTADSM/zrovmDVAxL2EYY4t7n06Y6U00jRpBx1wrz1V3zHmTgSbHMxilXIFaJdUGYe2J5mkuDXE8rZdqSLNz80IF4y9QWl7+vy+4DOeuLGKREZU06EcITKqj9H/UZ10kfomLB86lJ+JSQlNJ/8sNAcWiNYX8ki3oNAHUzhULzDHpii0oIDnKpXljyMJX3NwxL8QF2an1ntxdmXi0+eJXVBvotBOtJHSZ9LLBani2FK3GFe59caC3G9iCyUzw=" providerName="System.Data.EntityClient" />

	  <!--Pruebas-->
	  <!--<add name="SIACORAHEntities" connectionString="QSO9lM9GV+4pqrEWxII+4l6AKL09lii8r+Msgct3x/u/YWnHsr0Up8SiOo9I43fIs0jlxS+Q/mbNNvSUQBSLsiXiJKeAg3sguRCSyJhEtXHISmc9Xj+m716AKL09lii8r+Msgct3x/u/YWnHsr0UpzpMLRZKJZeHPx8uv5ca6nG+C443czL4HMg1zd4imecRj/3sNlhOSUU7Fx5ezDbF7Bs1kYI+zvyWPkHVolTktqDgIpuUTADSM6a0k8qm8OOH955miEl4Wav0cSdpJQf2RkRyjNtas28XMCGG2Sqjr3/jv40F2Jjg31ypVISy+DOnwdmJX5PGgV+0q/XGJ4KDO1JZYUQLVCJoDxT7nFhX0eQ3d6wxuu/9VuvFRWZ4xfML6xAM3gUluLBQvC+VTGuaKICKQGngPB9e5GxF4lZczfOdByaMnco3x1Ez13N9pv2wTHw3wmmYYSE=" providerName="System.Data.EntityClient" />-->
	  
	  <!--Admin-->
	  <!--Admin red lan-->
	  <add name="SIACORAHEntitiesAdmin" connectionString="QSO9lM9GV+4pqrEWxII+4l6AKL09lii8B7BQb043QaINUVXfQac7Ce8Oo5GqS//f8nEyPs+jntaCf1iXjIR2vLNI5cUvkP5mY2+IkZ0w4y8q43/w2M0hsDCmMGkIXZnyeNQMxWRwOBprD2voJ2uES7t2QrghBy52ZCKHh6g5qeY8zbMqnqhh+m6vQC1JPkz2qOlGLbpkF1NPq7MviI7e8EiFL7QxVWXiFgNvuSMD7UazMlNYQZ8hPYiFWH6qR972Mrz5UTLjRxowIYbZKqOvf+O/jQXYmODf56RbxpzdpSg4EOaOQ+OqeaRqMKyhNbZDccwSn9/9xsHIPcSKZHmX8PrKaGRsoo2JGPypfjqbPZhg8g093D4NfgAG5tAtE7zF" providerName="System.Data.EntityClient" />

  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
	  <add key="PredeterminadoContenedorIoC" value="ContextoRaiz" />
	  <add key="ClientSettingsProvider.ServiceUri" value="" />

	  <!--producción-->
	  <add key="servidor" value="ojvdXeuCQmKA7nlNkTAYDuUiy5oxq7KIbi9fxJXct6fZBNbKxcPc5g=="/>
	  <add key="basedatos" value="qhfRfAGCA22rWHLSvLEWQQ=="/>
	  <add key="usuario" value="JBW8LVN8juM="/>
	  <add key="clave" value="ZuTMVzeUgBpEN/qZYW5btvpjuNjT4OsD"/>

	  <!--prueba-->
	  <!--<add key="servidor" value="PLLIUmNZxLd26XffjrCOT4mPaJBrMtXu"/>
	  <add key="basedatos" value="qhfRfAGCA22rWHLSvLEWQQ=="/>
	  <add key="usuario" value="fqJTxVCkVMc="/>
	  <add key="clave" value="dMy0D2hWdNI7wIuEuXjalQ=="/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SIA_Presupuesto.WinForm.Properties.Settings>
      <setting name="nomUsuario" serializeAs="String">
        <value />
      </setting>
    </SIA_Presupuesto.WinForm.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>